.listening-page {
    padding: 20px;
    background-color: #fff;
  }
  
  .title {
    text-align: center;
    font-size: 32px;
    color: #333;
  }
  
  .description {
    text-align: center;
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
  }
  