@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

html {
    font-size: 62.5%; /* 1rem = 10px */
}

.container {
    min-height: 100vh;
    background-color: #fafafa;
    font-family: 'Inter', sans-serif;
}